Azure/VS/Inscription/Inscription.WebUI/Service References/InscriptionService/InscriptionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://inscriptionproject.cloudapp.net:8080/InscriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Inscription.WebServices.DataModel" />
  <xs:element name="addMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Inscription.WebServices.DataModel" minOccurs="0" name="MS" nillable="true" type="q1:SuitMatiere" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Inscription.WebServices.DataModel" minOccurs="0" name="getMSResult" nillable="true" type="q2:ArrayOfSuitMatiere" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMSByEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEtudiant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMSByEtudiantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Inscription.WebServices.DataModel" minOccurs="0" name="getMSByEtudiantResult" nillable="true" type="q3:ArrayOfSuitMatiere" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMSByMatiere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatiere" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMSByMatiereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Inscription.WebServices.DataModel" minOccurs="0" name="getMSByMatiereResult" nillable="true" type="q4:ArrayOfSuitMatiere" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEtudiant" type="xs:int" />
        <xs:element minOccurs="0" name="idMatiere" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMSResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMSByEtudiant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEtudiant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMSByEtudiantResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMSByMatiere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMatiere" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMSByMatiereResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>