Azure/VS/MyNet_codeInit/MyNet.WebUI/Service References/MyNetDbService/MyNetDbService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyNetDbService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mynetcloudservice.cloudapp.net:8080/MyNetDbService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mynetcloudservice.cloudapp.net:8080/MyNetDbService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mynetcloudservice.cloudapp.net:8080/MyNetDbService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyNet.Webservices.DataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyNetDbService_addContact_InputMessage">
    <wsdl:part name="parameters" element="tns:addContact" />
  </wsdl:message>
  <wsdl:message name="IMyNetDbService_addContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:addContactResponse" />
  </wsdl:message>
  <wsdl:message name="IMyNetDbService_getContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:getContacts" />
  </wsdl:message>
  <wsdl:message name="IMyNetDbService_getContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContactsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyNetDbService">
    <wsdl:operation name="addContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyNetDbService/addContact" message="tns:IMyNetDbService_addContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyNetDbService/addContactResponse" message="tns:IMyNetDbService_addContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyNetDbService/getContacts" message="tns:IMyNetDbService_getContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyNetDbService/getContactsResponse" message="tns:IMyNetDbService_getContacts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyNetDbService" type="tns:IMyNetDbService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addContact">
      <soap:operation soapAction="http://tempuri.org/IMyNetDbService/addContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContacts">
      <soap:operation soapAction="http://tempuri.org/IMyNetDbService/getContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyNetDbService">
    <wsdl:port name="BasicHttpBinding_IMyNetDbService" binding="tns:BasicHttpBinding_IMyNetDbService">
      <soap:address location="http://mynetcloudservice.cloudapp.net:8080/MyNetDbService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>